[submodule ".doom.d/modules/editor/meow"]
	path = .doom.d/modules/editor/meow
	url = git@github.com:therealhampus/doom-meow.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:therealhampus/kickstart.nvim.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/plugins/zsh-autocomplete"]
	path = .zsh/plugins/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
