git:
  commitPrefix:
    - pattern: "^\\w+\\/(\\w+-\\w+).*"
      replace: "$1: "
# Keybindings
keybinding:
  universal:
    scrollRight: <disabled>
  branches:
    forceCheckoutBranch: <disabled> # Free 'F' keybinding
  commits:
    openLogMenu: "L"
customCommands:
  - key: "f"
    context: "localBranches"
    command: "git fetch --all"
    loadingText: "Fetching"
  - key: "F"
    description: "Pull"
    commandMenu:
      - key: "p"
        description: "Pulls changes from the remote branch"
        context: "global"
        loadingText: "Pulling"
        command: "git pull --rebase {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.Name}}"
      - key: "u"
        description: "Pulls changes from the branches upstream"
        context: "global"
        loadingText: "Pulling"
        command: "git pull --rebase {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.UpstreamBranch}}"
      - key: "e"
        description: "Pull changes from elsewhere..."
        context: "global"
        loadingText: "Pulling"
        command: "git pull --rebase {{.SelectedRemote.Name}} refs/heads{{$length := len .SelectedRemote.Name}}{{slice .Form.Branch $length}}"
        prompts:
          - type: "input"
            key: "Branch"
            title: "Branch:"
            suggestions:
              preset: "remoteBranches"
  - key: "p"
    description: "Push to"
    commandMenu:
      - key: "p"
        context: "global"
        description: "Push to remote branch with the same name"
        loadingText: "Pushing"
        command: "git push {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.Name}}:refs/heads/{{.CheckedOutBranch.Name}}"
      - key: "u"
        context: "global"
        description: "Push to upstream"
        loadingText: "Pushing"
        command: "git push {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.Name}}:refs/heads/{{.CheckedOutBranch.UpstreamBranch}}"
      - key: "e"
        context: "global"
        description: "Push elsewhere..."
        loadingText: "Pushing"
        command: "git push {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.Name}}:refs/heads{{$length := len .SelectedRemote.Name}}{{slice .Form.Branch $length}}"
        prompts:
          - type: "input"
            key: "Branch"
            title: "Branch:"
            suggestions:
              preset: "remoteBranches"
  - key: "P"
    description: "Force push to"
    commandMenu:
      - key: "p"
        context: "global"
        description: "Push to remote branch with the same name"
        loadingText: "Force pushing"
        command: "git push --force-with-lease {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.Name}}:refs/heads/{{.CheckedOutBranch.Name}}"
      - key: "u"
        context: "global"
        description: "Push to upstream"
        loadingText: "Force pushing"
        command: "git push --force-with-lease {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.Name}}:refs/heads/{{.CheckedOutBranch.UpstreamBranch}}"
      - key: "e"
        context: "global"
        description: "Push elsewhere..."
        loadingText: "Force pushing"
        command: "git push --force-with-lease {{.SelectedRemote.Name}} refs/heads/{{.CheckedOutBranch.Name}}:refs/heads{{$length := len .SelectedRemote.Name}}{{slice .Form.Branch $length}}"
        prompts:
          - type: "input"
            key: "Branch"
            title: "Branch:"
            suggestions:
              preset: "remoteBranches"
